doctype html
html(lang="en")
	head
		script(src="/bower_components/platform/platform.js")
		link(rel="import", href="/bower_components/polymer/polymer.html")
		link(rel="import", href="/elements/cmv-deck.html")
		link(rel="import", href="/elements/cmv-slidegroup.html")
		link(rel="import", href="/elements/cmv-slide.html")