doctype html
html(lang="en")
	head
		title="Christopher Vachon's Presentorator!"
		style
			@import url('/css/index.css');
	body
		header
			h1 Christopher Vachon's Presentorator!
		section
			h2 Ready Presentations
			ul
				li
					a(href='/CFObjective-2014/') CF.Objective 2014 Summary
				li
					a(href='/DevOpsDays-2014/') DevOpsDays 2014
				li
					a(href='/upgrading-the-ma-and-pa-shop/') Upgrading the Ma and Pa Shop
		section
			h2 Instructions
			ul
				li Use the Arrow Keys (Left, Right, Up, Down), or use the on screen navigator.
				li Use the Spacebar to trigger the next Action.
