extends ../includes/layout.jade


block title
  title="FSTO"


block style
  style
    @import url('/includes/css/fsto.min.css');


block deck
  cmv-slidegroup
    cmv-slide
      header
        h1 FSTO 2015
        p FullStack Toronto 2015
      ul.steps
        li Saturday, November the 14th, and Sunday the 15th, 2015


  cmv-slidegroup
    cmv-slide
      header
        h1 DevOps Pipeline
      ul.steps
        li Automated Testing
        li Pipeline Map


  cmv-slidegroup
    cmv-slide
      header
        h1 Internet your things


  cmv-slidegroup
    cmv-slide
      header
        h1 Empowering MicroServices with Apache Karaf


  cmv-slidegroup
    cmv-slide
      header
        h1 Using Hypermedia APIs to Drive Interactive Mobile Applications
      ul.steps
        li gzip
        li suport etags
        li cache control headers
        li breakup up resources in line with cacheability
        li componentize resources to allow ui to draw data loads
        li forms can add a lot of API flexibility


  cmv-slidegroup
    cmv-slide
      header
        h1 Evolving Web Applications with Module Based Design Components


  cmv-slidegroup
    cmv-slide
      header
        h1 Application Performance Monitoring is the New Unit Testing
      ul.steps
        li Randomize Unit Tests
        li top down and bottom up Monitoring is important
        li How to get Started
        li Unit Tests 
        li Integration Tests 
        li tools: graphite, statsd 


  cmv-slidegroup
    cmv-slide
      header
        h1 Re-evaluating Front-end Performance Best Practices
      ul.steps
        li cargo cult - go back and reevaluate techniquies
        li hosting sharding
        li JS: Looping
          ul
            li Cached is no longer required
        li Dynamic Script Insertion


  cmv-slidegroup
    cmv-slide
      header
        h1 Ionic: V2 and Beyond
      ul.steps
        li Attibutes instead of classes
        li platform continuity 
        li entirely rethough navigation
          ul
            li push and pop functionality
        li SASS
        li Web Animation API
        li ES6 and TypeScript Compatible
        li: a(href="ionic.io/2") ionic.io/2


  cmv-slidegroup
    cmv-slide
      header
        h1 Beyond Angular and React
        p Handling the deeper parts of the front end stack with Flux and Redux
      ul.steps
        li Angular or React
          ul
            li it doesn't matter, whats matters is how you handle complexity
        li build compant based UIs
          ul
            li dumb compontants
            li smart compontants
            li smartish compontants
        li stateless approch
          ul
            li pure functions


  cmv-slidegroup
    cmv-slide
      header
        h1 The End
